@{ 
    Layout = "~/Views/Shared/layout.cshtml";
}
<div ng-controller="HomeController">
    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
        <ui-gmap-markers models="markers"
                         coords="'coords'" fit="true">
        </ui-gmap-markers>
    </ui-gmap-google-map>
</div>
