@{
    Layout = "~/Views/Shared/layout.cshtml";
}
<div ng-controller="HomeController">
    <div class="row">
        <form>
                <div class="input-field col s6">
                    <i class="material-icons prefix">flight</i>
                    <input id="airport_departure" list="cities" type="text" class="validate" ng-model="airportCity" ng-model-options="{debounce: 1000}" ng-change="handleChangeCity(airportCity)">
                    <datalist id="cities">
                        <option ng-repeat="city in cities" value="{{city}}"></option>
                    </datalist>
                    <label for="airport_departure">Departure Airport City</label>
                    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                        <ui-gmap-polyline ng-repeat="links in airportsLinks" path="links.path" stroke="links.stroke"
                                          fit="true" icons='links.icons'></ui-gmap-polyline>
                        <ui-gmap-markers models="airports"
                                         coords="'coords'" fit="true" doCluster=false click="onClickAirport" options="'options'" icon="'icon'" modelsbyref="false">
                        </ui-gmap-markers>
                    </ui-gmap-google-map>
                </div>
                <div class="col s6">
                    <ul class="collapsible" data-collapsible="expandable">
                        <li>
                            <div class="collapsible-header">
                            <i class="material-icons">flight_takeoff</i>
                                Airport departure : <span ng-if="airportDeparture">{{airportDeparture.model.name}}</span>
                                <span ng-if="!airportDeparture">please select an airport for your departure</span>
                            </div>
                            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                        </li>
                        <li>
                            <div class="collapsible-header">
                            <i class="material-icons">flight_land</i>
                            Airport arrival : <span ng-if="airportArrival">{{airportArrival.model.name}}</span>
                                <span ng-if="!airportArrival">please select an airport for your arrival</span>
                            </div>
                            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">home</i>Hostel room : </div>
                            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                        </li>
                    </ul>
                </div>
        </form>
    </div>
</div>
